@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #4572c7;
  --primary-shade: #91acde;
  --secondary-color: #46c5c7;
  --secondary-shade: #b0e7e8;
  --background-01: #c0c0d8;
  --background-02: #4f517d;
}
